.rssItemTitle {
    font-weight: bold;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    text-align: center;
}

.rssItemDate {
    text-align: right;
}

.rssItemDescription {
    padding: 20px;
}

.rssItem {
    background: gainsboro;
    border-radius: 10px;
    box-shadow: 0px 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 20px;
}

.rssItemDescription a {
    color: black;
    line-height: 20px;
    word-break: break-all;
    word-spacing: 5px;
}

.rssItemDescription img {
    border-radius: 10px;
    box-shadow: 0px 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-right: 20px;
}
